:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #28a670;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #00000034;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f2f5f8;
  --light-gray: #eeeeee;
  --dark: #343a40;
  --light-dark: #999;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
iframe,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
i {
  font-weight: 100;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  color: #666;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  color: var(--dark);
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

/* 机器数字 */
.digital-number {
  font-family: digital;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.components-container {
  margin: 20px 30px;
}

html,
body {
  background: var(--white);
  width: 100%;
  height: 100%
}

.clear {
  height: 0px;
  font-size: 0;
  clear: both;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-dark);
  background: var(--light);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-dark);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--teal);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: var(--teal);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}