@font-face {
  font-family: "iconfont"; /* Project id 3824446 */
  src: url('iconfont.woff2?t=1671018233322') format('woff2'),
       url('iconfont.woff?t=1671018233322') format('woff'),
       url('iconfont.ttf?t=1671018233322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-insertHorizontalRule:before {
  content: "\e66e";
}

.icon-good:before {
  content: "\e619";
}

.icon-spechars:before {
  content: "\e618";
}

.icon-selectAll:before {
  content: "\e611";
}

.icon-arrow:before {
  content: "\e600";
}

.icon-arrow-up:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-arrow-left:before {
  content: "\e603";
}

.icon-justifyFull:before {
  content: "\e733";
}

.icon-justifyCenter:before {
  content: "\e734";
}

.icon-justifyLeft:before {
  content: "\e735";
}

.icon-justifyRight:before {
  content: "\e736";
}

.icon-italic:before {
  content: "\e737";
}

.icon-bold:before {
  content: "\e738";
}

.icon-superscript:before {
  content: "\e73b";
}

.icon-subscript:before {
  content: "\e73c";
}

.icon-strikeThrough:before {
  content: "\e73d";
}

.icon-underline:before {
  content: "\e73e";
}

.icon-removeFormat:before {
  content: "\e629";
}

.icon-xiangxia1:before {
  content: "\e62d";
}

.icon-xiangpica:before {
  content: "\e698";
}

.icon-a-xiangpicachuxiangpica:before {
  content: "\e632";
}

.icon-foreColor:before {
  content: "\ec85";
}

.icon-insertOrderedList:before {
  content: "\e604";
}

.icon-insertUnorderedList:before {
  content: "\e605";
}

.icon-charubiaoge:before {
  content: "\e608";
}

.icon-shanchubiaoge:before {
  content: "\e609";
}

.icon-delete-column:before {
  content: "\e784";
}

.icon-delete-row:before {
  content: "\e785";
}

.icon-font-size:before {
  content: "\e786";
}

.icon-insert-column-left:before {
  content: "\e788";
}

.icon-insert-column-right:before {
  content: "\e789";
}

.icon-insert-row-bottom:before {
  content: "\e78a";
}

.icon-insert-row-top:before {
  content: "\e78b";
}

.icon-merge-cells-vertical:before {
  content: "\e78c";
}

.icon-merge-cells-horizontal:before {
  content: "\e78d";
}

.icon-split-cells-vertical:before {
  content: "\e78e";
}

.icon-table-2:before {
  content: "\e78f";
}

.icon-split-cells-horizontal:before {
  content: "\e790";
}

.icon-table-add:before {
  content: "\e606";
}

.icon-table-remove:before {
  content: "\e607";
}

.icon-bg-color:before {
  content: "\e60a";
}

.icon-youxuliebiao2:before {
  content: "\e6f0";
}

.icon-wuxupailie:before {
  content: "\ec80";
}

.icon-paragraph:before {
  content: "\e60b";
}

.icon-list-disorder:before {
  content: "\e60c";
}

.icon-paperclip-attechment-tilt:before {
  content: "\e60d";
}

.icon-list-order:before {
  content: "\e60e";
}

.icon-text:before {
  content: "\e60f";
}

.icon-font-color:before {
  content: "\e610";
}

.icon-number-3:before {
  content: "\e739";
}

.icon-number-5:before {
  content: "\e73a";
}

.icon-number-0:before {
  content: "\e73f";
}

.icon-number-6:before {
  content: "\e740";
}

.icon-number-9:before {
  content: "\e741";
}

.icon-number-7:before {
  content: "\e742";
}

.icon-number-8:before {
  content: "\e743";
}

.icon-number-4:before {
  content: "\e744";
}

.icon-number-1:before {
  content: "\e745";
}

.icon-number-2:before {
  content: "\e746";
}

.icon-quanxuan:before {
  content: "\e61a";
}

.icon-wushuju:before {
  content: "\e65f";
}

.icon-shixian:before {
  content: "\e615";
}

.icon-xuxian:before {
  content: "\e616";
}

.icon-line-height:before {
  content: "\eaf1";
}

.icon-wanggeguan:before {
  content: "\e783";
}

.icon-gengduo:before {
  content: "\e612";
}

.icon-more:before {
  content: "\e617";
}

.icon-more1:before {
  content: "\e656";
}

.icon-more2:before {
  content: "\e613";
}

.icon-redo:before {
  content: "\e614";
}

.icon-undo:before {
  content: "\e8ad";
}

.icon-paste:before {
  content: "\e62b";
}

.icon-copy:before {
  content: "\ec7a";
}

.icon-colors:before {
  content: "\ec96";
}

.icon-hiliteColor:before {
  content: "\e63c";
}

.icon-cut:before {
  content: "\e61e";
}

